registry=http://nexus.produbanbr.corp/repository/npm-all/
strict-ssl=false
PHANTOMJS_CDNURL=http://nexus.produbanbr.corp/repository/raw-npm-release/phantomjs/-/
tag-version-prefix=""
package-lock=false
